.title {
 font-size: 1.5em;
 font-weight: bold;
 color: blue;
 font-family: sans-serif;
}

button {
 font-size: 1em;
 font-weight: bold;
 color: #fff;
 background-color: #4caf50;
 border: none;
 border-radius: 3px;
 padding: 5px 10px;
 margin: 0 13px;
}
